<a href="https://colab.research.google.com/github/Davholl/Data-Science/blob/master/Criando_Estruturas_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = [1, 2, 3, 4, 5]

In [0]:
s = pd.Series(data)

In [0]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [0]:
index = ['Linha ' + str(i+1) for i in range(5)]

In [0]:
s = pd.Series(data=data, index=index)

In [0]:
s

Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
Linha 5    5
dtype: int64

In [0]:
s1 = s + 5

In [0]:
s1

Linha 1     6
Linha 2     7
Linha 3     8
Linha 4     9
Linha 5    10
dtype: int64

In [0]:
s

Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
Linha 5    5
dtype: int64

In [0]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [0]:
df1 = pd.DataFrame(data = data)

In [0]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [0]:
index = ['Linha' + str(i+1) for i in range(3)]

In [0]:
df1 = pd.DataFrame(data = data, index = index)

In [0]:
df1

        0  1  2
Linha1  1  2  3
Linha2  4  5  6
Linha3  7  8  9

In [0]:
columns = ['Coluna ' + str(i+1) for i in range(3)]

In [0]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [0]:
df1

        Coluna 1  Coluna 2  Coluna 3
Linha1         1         2         3
Linha2         4         5         6
Linha3         7         8         9

In [0]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

/home/davi/Downloads/Python_Projects/Alura_Pandas/alura_pandas_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0