<a href="https://colab.research.google.com/github/Davholl/Data-Science/blob/master/M%C3%A9todos_de_Interpola%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [0]:
s.fillna(method='bfill', limit=1)

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64