<a href="https://colab.research.google.com/github/Davholl/Data-Science/blob/master/Tratamento_de_Dados_Faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análise V

## Tratamento de Dados Faltantes

In [0]:
import pandas as pd

In [0]:
dados = pd.read_csv('aluguel.csv', sep=';')

In [0]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [0]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,NaN,NaN
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
13229,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
13525,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.0,NaN
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.0,74.0
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.0,NaN
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.0,NaN
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.0,NaN

In [0]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

17

In [0]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [0]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [0]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [0]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [0]:
dados.fillna(0, inplace = True)

In [0]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32960 non-null float64
Condominio    32960 non-null float64
IPTU          32960 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [0]:
dados.to_csv('aluguel_residencial.csv', sep=';', index=False)